{% extends "dashboard/parts/base.html" %}
{% block content %}
			<script>
				//var oConfigObject = {};
				var oPraparedConfigForConfigTable = {};
				var oConfigTable = {};

				// source: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent#Examples
				function encodeRFC5987ValueChars (str) {
					return encodeURIComponent(str)
						// Note that although RFC3986 reserves "!", RFC5987 does not,
						// so we do not need to escape it
						.replace(/['()]/g, escape) // i.e., %27 %28 %29
						.replace(/\*/g, '%2A')
						// The following are not required for percent-encoding per RFC5987,
						// so we can allow for a little better readability over the wire: |`^
						.replace(/%(?:7C|60|5E)/g, unescape);
				}

				function SortByName(a, b){
					var aName = a.toLowerCase();
					var bName = b.toLowerCase();
					return ((aName < bName) ? -1 : ((aName > bName) ? 1 : 0));
				}

				function ShowWarningWhenNotSaved() {
					if (!$('#idPanelWarningNotSave').is(':visible')) {
						$("#idPanelWarningNotSave").fadeIn("slow");
					}
				}
				function HideWarningWhenNotSaved() {
					if ($('#idPanelWarningNotSave').is(':visible')) {
						$("#idPanelWarningNotSave").fadeOut("slow");
					}
				}

				function ReloadConfigData() {
					oConfigTable.api().ajax.reload(function() {
						ResetNewConfigModal();
						ResetEditConfigModal();
						ResetDeleteConfigModal();
						ResetSaveConfigModal();
						$.each(Object.keys(oConfigObject).sort(SortByName), function(idx, section_name) {
							keys = Object.keys(oConfigObject[section_name])
							// [NewConfig] only add sections with wildcard entries
							if (keys.some(key => key.includes("*"))) {
								$('#idNewConfigSectionSelectVal').append('<option value="'+section_name+'">'+section_name+'</option>');
							}
							// [EditConfig] dont add sections with only wildcard entries
							if (!keys.every(key => key.includes("*"))) {
								$('#idEditConfigSectionSelectVal').append('<option value="'+section_name+'">'+section_name+'</option>');
							}
							$('#idDeleteConfigSectionSelectVal').append('<option value="'+section_name+'">'+section_name+'</option>');
						});
					});
				}

				function PrepareConfigTable() {
					$('#idConfigTable').html('<table class="display table table-bordered table-hover table-striped" id="idConfigTableContent"></table>');
					oConfigTable = $('#idConfigTableContent').dataTable({
						"dom": 'rti',
						"ajax": {
							"url": "/control/config_get_config",
							"type": "GET",
							"dataSrc": function (aSourceObject) {
								oConfigObject = aSourceObject.message.config;
								oPraparedConfigForConfigTable = new Array();
								addConfigSectionButtons(oConfigObject)
								Object.entries(oConfigObject).forEach( section => {
									Object.entries(section[1]).forEach( ([key, data]) => {
										if ((pos = key.indexOf(".")) != -1) {
											key = [key.slice(0,pos), key.slice(pos+1)][1]
										}
										var val = (key.includes("*") === true) ? "" : data[0];
										oPraparedConfigForConfigTable.push({
											section: section[0],
											key: key,
											value: val,
											default_value: data[1],
											type: data[2],
											description: data[3]
										});
									});
								});
								return oPraparedConfigForConfigTable;
							}
						},
						data: oPraparedConfigForConfigTable,
						"displayLength": 100,
						"ordering": false,
						"columns": [
							{"data": "section", "title": "Sektion", "visible": false},
							{"data": "key", "title": "Schlüssel"},
							{"data": "value", "title": "Wert"},
							{"data": "default_value", "title": "Vorgabe", "readonly": true},
                                                        {"data": "type", "title": "type", "readonly": true},
							{"data": "description", "title": "Beschreibung"}
						],
						"createdRow": function( row, data, dataIndex){
    							if( data.type == ""){
        							$(row).css("background-color", "#337ab741");
    							}
							if( data.default_value !== data.value){
								$(row).find('td:eq(1)').css("color", "#337ab7");
							}
						},
						"drawCallback": function (settings) {
							var api = this.api();
							var rows = api.rows({page:'current'}).nodes();
							var last = null;

							api.column(0, {page:'current'}).data().each(function(group, i) {
								if (last !== group) {
									$(rows).eq(i).before(
										'<tr class="group"><td colspan="4"><b>'+group+'</b></td></tr>'
									);
									last = group;
								}
							});
						}
					});
					//prime to show the 'basic' config
                    oConfigTable.fnFilter('basics')
				}

                function addConfigSectionButtons(data) {
					$('#ConfigButtons').empty()
					Object.entries(data).forEach( section => {
						var element = document.createElement("button");
						element.innerHTML = section[0];
						element.setAttribute("name", section[0]);
						element.setAttribute("class", "section btn btn-primary btn-sm")
						element.setAttribute("style", "margin:5px;")
                        element.setAttribute("target", "description")
						element.setAttribute("id", 'ConfigSection');
 						$('#ConfigButtons').append(element);
					});
				}

				function AddActionSelection (anchor) {
					var html = '';
					html += '<label id="idNewConfigValueLabel">Action/Command</label>'
					html += '<div class="input-group" id="idConfigValueRow">';
					html += '<select class="form-control" id="idConfigActionSelectVal"><option value="[NONE]">Action</option></select>';
					html += '<span class="input-group-addon select-action"><input placeholder="Command" class="cmd" id="idConfigCommandInputVal"></span>';
					html += '</div>';
					anchor.append(html);
					$.getJSON("/control/get_actions", function(result) {
						var actions = result.message
						actions.forEach( function(action, index, array) {
							$('#idConfigActionSelectVal').append('<option value="'+action+'">'+action+'</option>');
						})
					})
				}

				$(document).ready(function() {
					PrepareConfigTable();
					PrepareNewConfigModal();
					PrepareEditConfigModal();
					PrepareDeleteConfigModal();
					PrepareSaveConfigModal();
					ReloadConfigData();
				});
			</script>
			<div class="row">
				<div class="col-lg-6">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<i class="fa fa-bar-chart-o fa-fw">Beschreibung</i>
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							Hier kann die aktuelle Konfiguration eingesehen und geändert werden.
						</div>
						<!-- /.panel-body -->
						<div class="panel-footer">
							<div class="modal fade" id="idNewConfigModal" tabindex="-1" role="dialog" aria-labelledby="idNewConfigModalLabel" aria-hidden="true" style="display: none;">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h4 class="modal-title" id="idNewConfigModalLabel">New Config Key</h4>
										</div>
										<div class="modal-body" id="idNewConfigModalBody">
											<div class="alert" id="idNewConfigResponse"></div>
											<div class="form-group" id="idNewConfigSection" >
												<label>Section Name</label>
												<select class="form-control" id="idNewConfigSectionSelectVal">
													<option value="[NONE]">Select section</option>
												</select>
											</div>
											<div class="form-group" id="idNewConfigSectionInput" style="display: none;">
												<label>Section Name (new)</label>
												<input class="form-control" placeholder="Enter name of new section" id="idNewConfigSectionInputVal">
											</div>
											<div class="form-group" id="idNewConfigIdentifierInput">
												<label id="idNewConfigIdentifierLabel">Name </label>
												<input class="form-control" placeholder="Which name?" id="idNewConfigIdentifierInputVal">
											</div>
											<div class="form-group" id="idNewConfigKeyInput">
												<label id="NewConfigKeyLabel">Keyname</label>
												<select class="form-control" id="idNewConfigKeySelectVal">
													<option value="[NONE]">Select section first</option>
												</select>
											</div>
											<div class="form-group" id="idNewConfigPinInput">
												<label id="idNewConfigPinLabel">Pin/Input</label>
												<input class="form-control" placeholder="Which Pin/input?" id="idNewConfigPinInputVal">
											</div>
											<div id="idAdditionalNewConfigInputRows"></div>
											<span>
												<button id="addNewConfigRow" type="button" class="btn-xs btn-xs-20 btn-info">+</button>
												<button id="removeNewConfigRow" type="button" class="btn-xs btn-xs-20 btn-danger">-</button>
											</span>
											<script>
												$("#addNewConfigRow").click( function () {
													var currentCount =  $('#idAdditionalNewConfigInputRows').length;
													var newCount = currentCount+1;
													var lastRepeatingGroup = $('#idConfigValueRow').last();
													var newSection = lastRepeatingGroup.clone();
													newSection.insertAfter(lastRepeatingGroup);
													$('#removeNewConfigRow').css('visibility', 'visible')
												});

												$("#removeNewConfigRow").click( function () {
													$("#idAdditionalNewConfigInputRows").children().last().remove();
													if ($('#idAdditionalNewConfigInputRows').children().length == 2) {
														$('#removeNewConfigRow').css('visibility', 'hidden')
													}
												});

												function ResetNewConfigModal () {
													$('#idNewConfigSectionSelectVal')
														.find('option')
														.remove()
														.end()
														.append('<option value="[NONE]">Select section or choose [New]</option>')
														.append('<option value="[NEW]">[NEW]</option>')
														.val('[NONE]')
													;
													$("#idNewConfigSectionInputVal").val('');
													ResetNewConfigKey();
												}

												function ResetNewConfigKey () {
													$("#NewConfigKeyLabel").text("Keyname");
													$("#idNewConfigKeySelectVal").val('');
													$('#removeNewConfigRow').css('visibility', 'hidden');
													$('#addNewConfigRow').css('visibility', 'hidden');
													$('#idNewConfigIdentifierInput').css('display', 'none');
													$("#idNewConfigIdentifierInputVal").val('');
													ResetNewConfigIdentifier();
												}

												function ResetNewConfigIdentifier () {
													$("#idNewConfigValueInputVal").val('');
													$("#idNewConfigValueInputVal").val('');
													$('#idNewConfigIdentifierLabel').text('Name ');
													$("#idAdditionalNewConfigInputRows").empty();
													$('#idNewConfigPinInput').css('display', 'none');
													$("#idNewConfigPinInputVal").val('');
												}

												function PrepareNewConfigModal () {
													$("#idNewConfigSectionSelectVal").change(function() {
														ResetNewConfigKey();
														$('#idNewConfigKeySelectVal').find('option').remove();
														if ($("#idNewConfigSectionSelectVal").val() == "[NEW]") {
															$("#idNewConfigSectionInput").fadeIn("slow");
														} else {
															$("#idNewConfigSectionInput").fadeOut("slow");
														}

														if ($("#idNewConfigSectionSelectVal").val() == "[NONE]") {
															$('#idNewConfigKeySelectVal')
																.find('option')
																.append('<option value="[NONE]">Select section first</option>')
																.val('[NONE]')
																.attr('disabled', 'disabled')
															;
														} else if ($("#idNewConfigSectionSelectVal").val() == "events") {
															$("#NewConfigKeyLabel").text("Eventname")
															$.getJSON("/status?module=event_handler&name=events&output=json", function(result) {
																var events = result.event_handler.events
																for (const event in events) {
																	if (!(event.startsWith("OnTime")) && !(event.startsWith("OnKey"))) {
																		$('#idNewConfigKeySelectVal').append('<option value="'+"".concat($("#idNewConfigSectionSelectVal").val(),".", event)+'">'+event+'</option>');
																	}
																}
															})
														} else if (["keyboard", "mail"].includes($("#idNewConfigSectionSelectVal").val())) {
															let values = []
															$.each(Object.keys(oConfigObject[$("#idNewConfigSectionSelectVal").val()]).sort(SortByName), function(single_key_object, key_name) {
																value = key_name.split(".")[1]
																if (value !== "*" && !values.includes(value)) {
																	values.push(value)
																}
															});
															$("#idNewConfigIdentifierLabel").text($("#idNewConfigSectionSelectVal").val().concat(" identifier "));
															$("#idNewConfigIdentifierInput").css('display', 'block');
															if (values.length !== 0) {
																$("#idNewConfigIdentifierLabel").append("(existing: "+values+")")
															}
														} else {
															$.each(Object.keys(oConfigObject[$("#idNewConfigSectionSelectVal").val()]).sort(SortByName), function(single_key_object, key_name) {
																if (key_name.includes("*")) {
																	if ((pos = key_name.indexOf(".")) != -1) {
																		var key = [key_name.slice(0,pos), key_name.slice(pos+1)][1]
																	} else {
																		var key = key_name
																	}
																	$('#idNewConfigKeySelectVal').append('<option value="'+key_name+'">'+key+'</option>');
																}
															});
														}
													});

													$("#idNewConfigKeySelectVal").change( function() {
														ResetNewConfigIdentifier();
														$('#addNewConfigRow').css('visibility', 'visible');
														if ($("#idNewConfigSectionSelectVal").val() == "events" || $('#idNewConfigKeySelectVal option:selected').text() == 'input') {
															if ($('#idNewConfigKeySelectVal option:selected').text() == 'input') {
																$('#idNewConfigPinInput').css('display', 'block')
															}
															AddActionSelection($('#idAdditionalNewConfigInputRows'))
														} else {
															var html = '';
															html += '<label id="idNewConfigValueLabel">Value</label>'
															html += '<div class="form-group" id="idConfigValueRow">';
															html += '<input class="form-control" id="idConfigCommandInputVal">';
															html += '</div>';
															$('#idAdditionalNewConfigInputRows').append(html)
														}
													});

													$("#idNewConfigIdentifierInputVal").change( function() {
														let keys = []
														$.each(Object.keys(oConfigObject[$("#idNewConfigSectionSelectVal").val()]).sort(SortByName), function(single_key_object, key_name) {
															key = key_name.split(".")[2]
															key_name = key_name.replace("*", $("#idNewConfigIdentifierInputVal").val())
															if (!keys.includes(key)) {
																$('#idNewConfigKeySelectVal').append('<option value="'+key_name+'">'+key+'</option>');
																keys.push(key)
															}
														});
													});

													$("#idNewConfigPinInputVal").change( function() {
														key = $('#idNewConfigKeySelectVal option:selected').val()
														key = key.replace("*", $(this).val())
														$('#idNewConfigKeySelectVal option:selected').val(key)
													});

													$("#idNewConfigModalClose").click( function () {
														ResetNewConfigModal();
														ReloadConfigData();
													});

													$("#idNewConfigModalButtonSave").click(function() {
														var sNewConfigUrl = "/control/config_value_set";
														var sSectionName = "";
														if ($("#idNewConfigSectionSelectVal").val() == "[NEW]") {
															sSectionName = $("#idNewConfigSectionInputVal").val();
														} else {
															sSectionName = $("#idNewConfigSectionSelectVal").val();
														}
														// get the values from added forms
														let values = []
														// label is a child
														if ($('#idAdditionalNewConfigInputRows').children().length !== 1) {
															$('#idAdditionalNewConfigInputRows').children().each( function () {
																var var1 = $(this).find("input").val();
																var var2 = $(this).find("select").val();
																if (var1 == undefined) {
																	return;
																} else if (var2 !== undefined && var2 !== "[None]") {
																	values.push(var2+':'+var1);
																} else {
																	values.push(var1);
																}
															})
														}
														// TODO join them based of type
														let value = values.join("|");

														sNewConfigUrl += "?section=" + encodeRFC5987ValueChars(sSectionName);
														sNewConfigUrl += "&key=" + encodeRFC5987ValueChars($("#idNewConfigKeySelectVal").val());
														sNewConfigUrl += "&value=" + encodeRFC5987ValueChars(value);

														$.getJSON(sNewConfigUrl, function(result){
															if (result.success) {
																$("#idNewConfigResponse").removeClass('alert-danger').addClass("alert-success");
																ShowWarningWhenNotSaved();
																ReloadConfigData();
															} else {
																$("#idNewConfigResponse").removeClass('alert-success').addClass("alert-danger");
															}
															$("#idNewConfigResponse").html(result.message).fadeIn("slow").delay(5000).fadeOut();
														});
													});
												};
											</script>
										</div>
										<div class="modal-footer">
											<button id="idNewConfigModalClose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-primary" id="idNewConfigModalButtonSave">Save changes</button>
										</div>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>
							<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#idNewConfigModal">New Config Key</button>

							<div class="modal fade" id="idEditConfigModal" tabindex="-1" role="dialog" aria-labelledby="idEditConfigModalLabel" aria-hidden="true" style="display: none;">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h4 class="modal-title" id="idEditConfigModalLabel">Edit Config Key</h4>
										</div>
										<div class="modal-body">
											<div class="alert" style="display: none;" id="idEditConfigResponse"></div>
											<div class="form-group">
												<label>Section Name</label>
												<select class="form-control" id="idEditConfigSectionSelectVal">
													<option value="[NONE]">Select existing section</option>
												</select>
											</div>
											<div class="form-group">
												<label>Key Name</label>
												<select class="form-control" id="idEditConfigKeyInputVal">
													<option value="[NONE]">Select section first</option>
												</select>
											</div>
											<div class="form-group" id="idEditConfigValueInput">
												<label>Value (one line each for list entries [+]) <span id="idEditConfigOldValue"></span></label>
												<input class="form-control" placeholder="Enter the new value" id="idEditConfigValueInputVal" disabled>
											</div>
											<div id="idAdditionalEditConfigInputRows"></div>
											<span>
												<button id="addEditConfigRow" type="button" class="btn-xs btn-xs-20 btn-info">+</button>
												<button id="removeEditConfigRow" type="button" class="btn-xs btn-xs-20 btn-danger">-</button>
											</span>
											<script>
												$("#addEditConfigRow").click( function () {
													var html = '';
													html += '<div id="idAddedInputRows">';
													html += '<div class="form-group">';
													html += '<input type="text" name="title[]" class="form-control m-input" placeholder="Enter additional list value">';
													html += '</div>';
													html += '</div>';
													$('#removeEditConfigRow').css('visibility', 'visible')
													$('#idAdditionalEditConfigInputRows').append(html);
												});

												$("#removeEditConfigRow").click( function () {
													$("#idAdditionalEditConfigInputRows").children().last().remove();
													if ($('#idAdditionalEditConfigInputRows').children().length == 0) {
														$('#removeEditConfigRow').css('visibility', 'hidden')
													}
												});
												function ResetEditConfigModal() {
													$('#idEditConfigSectionSelectVal')
														.find('option')
														.remove()
														.end()
														.append('<option value="[NONE]">Select section</option>')
														.val('[NONE]')
													;
													$('#idEditConfigKeyInputVal')
														.find('option')
														.remove()
														.end()
														.append('<option value="[NONE]">Select section first</option>')
														.val('[NONE]')
														.attr('disabled', 'disabled')
													;
													$("#idEditConfigValueInputVal").val('');
													$("#idAdditionalEditConfigInputRows").empty();
													$('#removeEditConfigRow').css('visibility', 'hidden')
													LoadOldValueBeforeEdit();
												}

												function LoadOldValueBeforeEdit() {
													try {
														$('#idEditConfigOldValue').text('- old value is "'+oConfigObject[$("#idEditConfigSectionSelectVal").val()][$("#idEditConfigKeyInputVal").val()][0]);
														$("#idEditConfigValueInputVal").removeAttr('disabled');
													}
													catch(err) {
														$('#idEditConfigOldValue').text('');
														$("#idEditConfigValueInputVal").attr('disabled', 'disabled')
													}
												}

												function PrepareEditConfigModal() {
													$("#idEditConfigSectionSelectVal").change(function() {
														$('#idEditConfigKeyInputVal')
															.removeAttr('disabled')
															.find('option')
															.remove()
															.end()
														;
														if ($("#idEditConfigSectionSelectVal").val() == "[NONE]") {
															$('#idEditConfigKeyInputVal')
																.find('option')
																.append('<option value="[NONE]">Select section first</option>')
																.val('[NONE]')
																.attr('disabled', 'disabled')
															;
														} else {
															$.each(Object.keys(oConfigObject[$("#idEditConfigSectionSelectVal").val()]).sort(SortByName), function(single_key_object, key_name) {
																if (!(key_name.includes("*"))) {
																	if ((pos = key_name.indexOf(".")) != -1) {
																		var key = [key_name.slice(0,pos), key_name.slice(pos+1)][1]
																	} else {
																		var key = key_name
																	}
																	$('#idEditConfigKeyInputVal').append('<option value="'+key_name+'">'+key+'</option>');
																}
															});
														}
														LoadOldValueBeforeEdit();
													});
													$("#idEditConfigKeyInputVal").change(LoadOldValueBeforeEdit);

													$("#idEditConfigModalButtonSave").click(function() {
														var sNewConfigUrl = "/control/config_value_set";
														// get the values from added forms
														var value = $("#idEditConfigValueInputVal").val()
														if ($('#idAdditionalEditConfigInputRows').children().length !== 0) {
															$('#idAdditionalEditConfigInputRows').children().each( function () {
																var val = $(this).find("input").val()
																if (val !== "") {
																	value += '|'+val
																}
															})
														}
														sNewConfigUrl += "?section=" + encodeRFC5987ValueChars($("#idEditConfigSectionSelectVal").val());
														sNewConfigUrl += "&key=" + encodeRFC5987ValueChars($("#idEditConfigKeyInputVal").val());
														sNewConfigUrl += "&value=" + encodeRFC5987ValueChars(value);

														$.getJSON(sNewConfigUrl, function(result) {
															if (result.success) {
																$("#idEditConfigResponse").removeClass('alert-danger').addClass("alert-success");
																ShowWarningWhenNotSaved();
																ReloadConfigData();
															} else {
																$("#idEditConfigResponse").removeClass('alert-success').addClass("alert-danger");
															}
															$("#idEditConfigResponse").html(result.message).fadeIn("slow").delay(5000).fadeOut();
														});
													});
												};
											</script>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-primary" id="idEditConfigModalButtonSave">Save changes</button>
										</div>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>
							<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#idEditConfigModal">Edit Config Key</button>

							<div class="modal fade" id="idDeleteConfigModal" tabindex="-1" role="dialog" aria-labelledby="idDeleteConfigModalLabel" aria-hidden="true" style="display: none;">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h4 class="modal-title" id="idDeleteConfigModalLabel">Delete Config Key</h4>
										</div>
										<div class="modal-body">
											<div class="alert" style="display: none;" id="idDeleteConfigResponse"></div>
											<div class="form-group">
												<label>Section Name</label>
												<select class="form-control" id="idDeleteConfigSectionSelectVal">
													<option value="[NONE]">Select existing section</option>
												</select>
											</div>
											<div class="form-group">
												<label>Key Name</label>
												<select class="form-control" id="idDeleteConfigKeyInputVal">
													<option value="[NONE]">Select section first</option>
												</select>
											</div>
											<div class="alert alert-danger" id="idDeleteConfigOldValue" style="display: none;"></div>
											<script>
												function ResetDeleteConfigModal () {
													$('#idDeleteConfigSectionSelectVal')
														.find('option')
														.remove()
														.end()
														.append('<option value="[NONE]">Select section</option>')
														.val('[NONE]')
													;
													$('#idDeleteConfigKeyInputVal')
														.find('option')
														.remove()
														.end()
														.append('<option value="[NONE]">Select section first</option>')
														.val('[NONE]')
														.attr('disabled', 'disabled');
													;
													LoadOldValueBeforeDelete();
												}

												function LoadOldValueBeforeDelete() {
													try {
														$('#idDeleteConfigOldValue').html('old value is "'+oConfigObject[$("#idDeleteConfigSectionSelectVal").val()][$("#idDeleteConfigKeyInputVal").val()][0]+'"');
														$('#idDeleteConfigOldValue').fadeIn("slow");
													}
													catch(err) {
														$('#idDeleteConfigOldValue').html(err);
														$('#idDeleteConfigOldValue').fadeOut("slow");
													}
												}

												function PrepareDeleteConfigModal () {
													$("#idDeleteConfigSectionSelectVal").change(function() {
														$('#idDeleteConfigKeyInputVal')
															.removeAttr('disabled')
															.find('option')
															.remove()
															.end()
														;
														if ($("#idDeleteConfigSectionSelectVal").val() == "[NONE]") {
															$('#idDeleteConfigKeyInputVal')
																.append('<option value="[NONE]">Select section first</option>')
																.attr('disabled', 'disabled');
															;
														} else {
															Object.entries(oConfigObject[$("#idDeleteConfigSectionSelectVal").val()]).forEach( ([key_name, data]) => {
																if ((!(key_name.includes("*"))) && (data[1] !== data[0])) {
																	$('#idDeleteConfigKeyInputVal').append('<option value="'+key_name+'">'+key_name+'</option>');
																}
															});
														}
														LoadOldValueBeforeDelete();
													});
													$("#idDeleteConfigKeyInputVal").change(LoadOldValueBeforeDelete);

													$("#idDeleteConfigModalButtonSave").click(function() {
														var sNewConfigUrl = "/control/config_value_delete";
														sNewConfigUrl += "?section=" + encodeRFC5987ValueChars($("#idDeleteConfigSectionSelectVal").val());
														sNewConfigUrl += "&key=" + encodeRFC5987ValueChars($("#idDeleteConfigKeyInputVal").val());

														$.getJSON(sNewConfigUrl, function(result) {
															if (result.success) {
																$("#idDeleteConfigResponse").removeClass('alert-danger').addClass("alert-success");
																ShowWarningWhenNotSaved();
																ReloadConfigData();
															} else {
																$("#idDeleteConfigResponse").removeClass('alert-success').addClass("alert-danger");
															}
															$("#idDeleteConfigResponse").html(result.message).fadeIn("slow").delay(5000).fadeOut();
														});
													});
												};
											</script>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-primary" id="idDeleteConfigModalButtonSave">Delete key</button>
										</div>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>
							<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#idDeleteConfigModal">Delete Config Key</button>

							<div class="modal fade" id="idSaveConfigModal" tabindex="-1" role="dialog" aria-labelledby="idSaveConfigModalLabel" aria-hidden="true" style="display: none;">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h4 class="modal-title" id="idSaveConfigModalLabel">Save Config</h4>
										</div>
										<div class="modal-body">
											<div class="alert" style="display: none;" id="idSaveConfigResponse"></div>
											<div class="form-group" id="idSaveConfigValueInput">
												<label>configfile <span id="idCurrentConfigfile"></span></label>
												<input class="form-control" placeholder="Leave blank to use default" id="idSaveConfigValueInputVal">
											</div>
											<script>
												function ResetSaveConfigModal() {
													LoadOldConfigfileBeforeSave();
												};

												function LoadOldConfigfileBeforeSave() {
													$('#idCurrentConfigfile').val('');
													try {
														$.getJSON("/control/config_get_configfile", function(result) {
															if (result.success) {
																$('#idCurrentConfigfile').html('(current: "'+result.message+'")');
															} else {
																$('#idCurrentConfigfile').html('');
															}
														});
													} catch(err) {
														$('#idCurrentConfigfile').html('(current: "unknown")');
													}
												};

												function PrepareSaveConfigModal() {
													$("#idSaveConfigModalButtonSave").click(function() {
														var sNewConfigUrl = "/control/config_save";
														if ($('#idSaveConfigValueInputVal').val() != "")
															sNewConfigUrl += "?configfile=" + encodeRFC5987ValueChars($("#idSaveConfigValueInputVal").val());

														$.getJSON(sNewConfigUrl, function(result){
															if (result.success) {
																$("#idSaveConfigResponse").removeClass('alert-danger').addClass("alert-success");
																HideWarningWhenNotSaved();
																ReloadConfigData();
															} else {
																$("#idSaveConfigResponse").removeClass('alert-success').addClass("alert-danger");
															}
															$("#idSaveConfigResponse").html(result.message).fadeIn("slow").delay(5000).fadeOut();
														});
													});
												};
											</script>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-primary" id="idSaveConfigModalButtonSave">Save configfile</button>
										</div>
									</div>
									<!-- /.modal-content -->
								</div>
								<!-- /.modal-dialog -->
							</div>
							<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#idSaveConfigModal">Save Config</button>
							<button class="btn btn-primary btn-sm" id="idReloadConfigButton">Reload Config</button>
						</div>
						<!-- /.panel-footer -->
					</div>
					<!-- /.panel -->
				</div>
				<div class="col-lg-6" style="display: none;" id="idPanelWarningNotSave">
					<div class="panel panel-red">
						<div class="panel-heading">
							<i class="fa fa-bar-chart-o fa-fw">Hinweis</i>
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">Die Konfiguration wurde verändert, aber noch nicht als Datei abgespeichert.</div>
						<!-- /.panel-body -->
						<div class="panel-footer">Bitte den Button "Save Config" zum Speichern der Config nutzen.</div>
						<!-- /.panel-footer -->
					</div>
					<!-- /.panel -->
				</div>
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-primary">
						<div class="panel-heading"><i class="fa fa-bar-chart-o fa-fw">Konfiguration</i></div>
						<!-- /.panel-heading -->
						<div class="panel-body" id="ConfigButtons">
							<script>
								$("#ConfigButtons").on('click', '.section', function() {
									oConfigTable.fnFilter( this.name );
									$("#description").attr("src", `manual/${$(this).attr('name')}.html`);
								});
								function setIframeHeight(id) {
									var ifrm = document.getElementById(id);
									var doc = ifrm.contentDocument? ifrm.contentDocument:
										ifrm.contentWindow.document;
									ifrm.style.visibility = 'hidden';
									ifrm.style.height = "10px"; // reset to minimal height ...
									// IE opt. for bing/msn needs a bit added or scrollbar appears
									ifrm.style.height = getDocHeight( doc ) + 4 + "px";
									ifrm.style.visibility = 'visible';
								}
								function getDocHeight(doc) {
									doc = doc || document;
									// stackoverflow.com/questions/1145850/
									var body = doc.body, html = doc.documentElement;
									var height = Math.max( body.scrollHeight, body.offsetHeight,
									html.clientHeight, html.scrollHeight, html.offsetHeight );
									return height;
								}
							</script>
						</div>
						<!-- /.panel-body -->
						<div class="panel-footer" id="idConfigTable">
						</div>
						<iframe src="manual/basics.html" class="iframe-desc" id="description" onload="setIframeHeight(this.id)"></iframe>
						<!-- /.panel-footer -->
					</div>
					<!-- /.panel -->
				</div>
			</div>
{% endblock %}
{# vim:set ts=4 noet sw=0: #}
