{% extends "/dashboard/parts/base.html" %}
{% block content %}
			<script>
				$(document).ready(function() {
					$.getJSON("/status?output=json.parsed", function(result){
						var actionCount = 0;
						$.each(result.event_handler.actions, function(sEventName, aActionList) {
							actionCount += aActionList.length
						});
						$("#event_handler_length").text(
							Object.keys(result.event_handler.actions).length
							+ ' / '
							+ actionCount
						);

						if (Object.keys(result.sipphone.current_call).length == 0) {
							$("#current_call_panel").removeClass("panel-red").addClass("panel-primary");
							$("#current_call_status").text("kein Anruf");
							$("#current_call_details").text("");
						} else {
							$("#current_call_panel").removeClass("panel-primary").addClass("panel-red");
							$("#current_call_status").text("'"+result.sipphone.current_call.direction+"'");
							$("#current_call_details").html(
								result.sipphone.current_call.remote_uri+"<br>"+
								result.sipphone.current_call.total_time.toFixed(2)+" sec "+
								"(Level: &uarr; "+result.sipphone.current_call.level_incoming.toFixed(2)+
								"&darr; "+result.sipphone.current_call.level_outgoing.toFixed(2)+")"
							);
						}

					});
				});
			</script>

			<!-- /.row -->
			<div class="row">
				<div class="col-lg-6 col-md-9">
					<div class="panel panel-primary" id="current_call_panel">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-comments fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div class="huge" id="current_call_status">kein Anruf</div>
									<div id="current_call_details"></div>
								</div>
							</div>
						</div>
						<a href="/dashboard/pages/status.modules.sipphone.html">
							<div class="panel-footer">
								<span class="pull-left">Details</span>
								<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
								<div class="clearfix"></div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-lg-6 col-md-9">
					<div class="panel panel-green">
						<div class="panel-heading">
							<div class="row">
								<div class="col-xs-3">
									<i class="fa fa-tasks fa-5x"></i>
								</div>
								<div class="col-xs-9 text-right">
									<div class="huge" id = "event_handler_length"></div>
									<div>Events mit Aktion / registrierte Aktionen</div>
								</div>
							</div>
						</div>
						<a href="/dashboard/pages/status.modules.eventhandler.html">
							<div class="panel-footer">
								<span class="pull-left">Details</span>
								<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
								<div class="clearfix"></div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!-- /.row -->

{% endblock %}
{# vim:set ts=4 noet sw=0: #}
